<div class="app">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Coupon</h2>

        <button
          type="button"
          class="btn-close"
          (click) ="skipDiscount()"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <p>
          <B>Coupon Code:</B><br />

          <small><b>SUMMERSALE10</b></small>

          <br />

          Use this coupon Code for getting <b>10%</b> Discount in your Purchase.
        </p>

        <button
          type="button"
          class="btn btn-primary float-end"
          (click)="addDiscount()"
          aria-label="Apply"
        >
          Apply
        </button>
      </div>
    </div>
  </div>
</div>
